@model WebApplication.ViewModels.ForgotPasswordViewModel
@{
    ViewData["Title"] = "Забыли пароль?";
}

@{
    Layout = null;
}

<html>
<head>
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/login.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <script src="https://kit.fontawesome.com/a9411cf797.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-offset-3 col-md-6">
                <form asp-controller="Account" asp-action="ForgotPassword" method="post" class="form-horizontal">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <span class="heading">@ViewData["Title"]</span>
                    <p>Мы вышлем ссылку на электронную почту. Вы можете использовать эту ссылку, чтобы выбрать новый пароль.</p>
                    <div class="form-group">
                        <input type="email" class="form-control" id="inputEmail" placeholder="E-mail" asp-for="Email" />
                        <i class="fas fa-envelope"></i>
                        <span asp-validation-for="Email" />
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-default">Отправить</button>
                    </div>
                </form>
            </div>
        </div><!-- /.row -->
    </div><!-- /.container -->
</body>
</html>