@{
    ViewData["Title"] = "Подтверждение сброса пароля";
}

@{
    Layout = null;
}

<html>
<head>
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" />
</head>
<body>
    <h2>@ViewData["Title"]</h2>
    <p>
        Ваш пароль сброшен. Для входа в приложение перейдите по <a asp-action="Login">ссылке</a>.
    </p>
    <script type="text/javascript">
        setTimeout('window.location="/"', 4000);
    </script>
</body>
</html>